# DATABASE
# Use localhost:5433 when running the backend directly on your host.
# Use host.docker.internal:5433 when running the backend inside a Docker container.
DATABASE_URL="postgresql://postgres:password@localhost:5433/mydb_app"

# BACKEND
NODE_ENV="development"
PORT="8080"
FRONT_END_URL="http://localhost:5173"
AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:8080" # Typically same as the Express server URL

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# GROQ
GROQ_API_KEY=""

# BREVO
BREVO_API_KEY=""
APP_NAME="TravelForge"
BREVO_SENDER_EMAIL=""
