# DATABASE
# Point this to your production Postgres connection string.
DATABASE_URL="postgresql://<user>:<password>@<prod-db-host>:5432/<prod-db-name>"

# BACKEND
NODE_ENV="production"
PORT="8080"
FRONT_END_URL="https://your-production-domain.com"
AUTH_SECRET=""
BETTER_AUTH_URL="https://api.your-production-domain.com" # Typically same as the Express server URL

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# GROQ
GROQ_API_KEY=""

# BREVO
BREVO_API_KEY=""
APP_NAME="TravelForge"
BREVO_SENDER_EMAIL=""
