VITE_API_URL="https://api.your-production-domain.com"
VITE_BACK_END_URL="https://api.your-production-domain.com"
VITE_OSRM_URL="https://api.your-production-domain.com/preciseRoute"
VITE_SUPPORT_EMAIL=""
